.about-us-page {
    background: #f8f9fa;
    color: #333;
    font-family: 'Open Sans', sans-serif;
  }
  
  .about-us-content {
    padding: 60px 20px;
    text-align: left;
  }
  
  .about-us-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #0d6efd;
  }
  
  .about-us-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0d6efd;
  }
  
  .about-description p, .mission-description p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.8;
    color: #555;
  }
  
  .image-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  .statistics {
    margin-top: 20px;
  }
  
  .stat-item ul {
    list-style-type: none;
    padding: 0;
  }
  
  .stat-item ul li {
    font-size: 1.3rem;
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
    line-height: 1.8;
  }
  
  .stat-item ul li::before {
    content: '✔';
    position: absolute;
    left: 0;
    color: #0d6efd;
    font-size: 1.3rem;
  }
  