.event-image-container {
    flex: 1;
    overflow: hidden;
    max-width: 500px;
  }
  .event-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }