.event-page {
  background: #f0f2f5;
  color: #333;
  position: relative;
  overflow: hidden;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #007bff;
  font-weight: bold;
}

.filter-row {
  margin-bottom: 30px;
}

.filter-row .form-group {
  margin-bottom: 15px;
}

.membership-reminder {
  background: linear-gradient(135deg, #007bff, #00c6ff);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.membership-reminder h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.membership-reminder p {
  font-size: 1.2rem;
}

.event-card {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 15px;
  background: #ffffff;
  color: #333;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 20px;
}

.event-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.event-image-container {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.event-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.event-date {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.event-details {
  padding-left: 20px;
}

.event-details h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.event-details p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.event-details ul {
  list-style-type: none;
  padding: 0;
}

.event-details ul li {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.register-button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #0056b3;
}
