.event-section-page {
  background: #f8f9fa;
  color: #333;
  position: relative;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.event-section-page .filter-row .form-control {
  border-radius: 20px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-section-page .vertical-timeline::before {
  background: #000; /* Change timeline line color to black */
}

.event-section-page .vertical-timeline-element--work {
  border-color: rgb(33, 150, 243);
}

.event-section-page .vertical-timeline-element--education {
  border-color: rgb(233, 30, 99);
}

.event-section-page .vertical-timeline-element-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.event-section-page .vertical-timeline-element-subtitle {
  margin-bottom: 10px;
  color: #666;
}

.event-section-page .vertical-timeline-element p {
  margin: 5px 0;
  color: #666;
}

.event-section-page .event-additional-details {
  margin: 10px 0;
}

.event-section-page .vertical-timeline-element button {
  margin-top: 10px;
  border-radius: 20px;
}

.event-section-page .event-timeline-image {
  display: none; /* Remove the image from the timeline element */
}

.custom-date {
  
  padding: 5px 10px;
  border-radius: 10px; /* Rounded corners for the date box */
  color: red;
  font-weight: bold;
}

.registrationButton {
  display: block;
}
