.event-detail-container {
  margin-top: 50px;
  padding: 20px;
  background-color: #f8f9fa;
}

.event-detail-card, .register-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.event-detail-header {
  background-color: #343a40;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  text-align: center;
}

.event-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.event-image-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-detail-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.event-details {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  margin-top: 20px;
}

.map-container {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 20px;
  text-align: center;
}

.form-container {
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.responsive-iframe {
  width: 100%;
  height: 800px;
  border: none;
}

@media (max-width: 768px) {
  .event-title {
    font-size: 1.5rem;
  }

  .register-title {
    font-size: 1.3rem;
  }

  .responsive-iframe {
    height: 600px;
  }
}

@media (max-width: 576px) {
  .event-title {
    font-size: 1.2rem;
  }

  .event-details {
    font-size: 1rem;
  }

  .register-title {
    font-size: 1rem;
  }

  .responsive-iframe {
    height: 500px;
  }
}
