
.Gallery-page {
  margin-top: 100px;
  position: relative;
  min-height: 500px; /* Adjust as necessary */
}

.gallery-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error-message {
  text-align: center;
  color: red;
  font-size: 18px;
  margin-top: 20px;
}

.event-heading{
    color:#ff6341;
    font-size: 2rem;
  margin-bottom: 20px;
  }