.about-us-section {
  background: linear-gradient(to right, #1f1f1f, #333333); 
  color: #fff;
  padding: 60px 20px;
  position: relative;
}

.image-container1 {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
}

.about-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  animation: floatImage 5s infinite ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.play-button {
  color: #fff;
  font-size: 50px;
}

.about-text {
  max-width: 700px;
  margin-left: 20px;
  margin-top: 10px;
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  position: relative;
}

.about-text h2::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background: #e63946;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.about-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.8;
}

.statistics {
  margin-top: 40px;
}

.stat-item ul {
  list-style-type: none;
  padding: 0;
}

.stat-item ul li {
  font-size: 1.3rem;
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative;
  line-height: 1.8;
}

.stat-item ul li::before {
  content: '✔';
  position: absolute;
  left: 0;
  color: #fd081c !important; /* Ensures the color is red */
  font-size: 1.3rem;
}
