
.contactushead {
  font-weight: 700;
  color: #333;
}

.left-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.logo-image {
  width: 80%;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-image:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.right-col {
  padding: 20px;
  transition: opacity 0.3s ease;
}

.right-col h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contact-info {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

.contact-link {
  color: #ff6341;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.contact-link:hover {
  color: #ff6341;
  text-decoration: underline;
}

.social-links {
  margin-top: 20px;
}

.contact-us-section{
  background-color: white;
}



.facebook-link {
  color: #ff6341;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
}

.facebook-link:hover {
  color: #ff6341;
}

.facebook-link i {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .left-col, .right-col {
    text-align: center;
  }

  .logo-image {
    max-width: 60%;
  }

  .right-col {
    margin-top: 20px;
  }
}
