body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.event-detail {
  margin-top: 50px;
}

.event-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.event-title {
  font-weight: bold;
  color: #343a40;
  margin-bottom: 20px;
}

.event-description {
  color: #666;
  margin-bottom: 20px;
}

.section-title {
  color: #007bff;
  margin-bottom: 15px;
}

.event-detail-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.event-detail-item svg {
  margin-right: 8px;
  color: #007bff;
}

.event-price-list {
  list-style-type: none;
  padding: 0;
}

.event-price-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.event-price-list li svg {
  margin-right: 8px;
  color: #007bff;
}

.event-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8f9fa;
  border-left: 1px solid #ddd;
  padding: 20px;
}

.register-container {
  width: 100%;
}

.register-button {
  font-size: 1.2rem;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.map-container {
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-title {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (max-width: 767.98px) {
  .event-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .event-description {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .event-detail-item,
  .event-price-list li {
    font-size: 1rem;
  }

  .register-button {
    font-size: 1rem;
  }

  .event-register {
    border-left: none;
    padding-left: 0;
  }

  .event-detail {
    padding: 10px;
  }

  .map-container {
    margin-top: 20px;
  }
}
