body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.event-detail {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.event-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 10px;
}

.event-date-time {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.event-description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.event-info h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #007bff;
}

.event-info p,
.event-info ul {
  font-size: 1.2rem;
  color: #333;
}

.event-info ul {
  list-style-type: none;
  padding: 0;
}

.event-info ul li {
  margin-bottom: 10px;
}

.event-register h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.map-container {
  background-color: #fff;
  padding: 20px 0;
  margin-top: 20px;
}

.map-title {
  text-align: center;
  font-size: 1.8rem;
  margin: 20px 0;
  color: #007bff;
}

.event-details {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.event-detail-box {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.event-detail-box h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.event-detail-box p {
  font-size: 1.2rem;
}

@media (max-width: 767.98px) {
  .event-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .event-description {
    font-size: 1rem;
  }

  .event-info h3,
  .event-register h2 {
    font-size: 1.2rem;
  }

  .event-info p,
  .event-info ul {
    font-size: 1rem;
  }

  .event-detail {
    padding: 10px;
  }
}
