.gallery-section {
  background: black;
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  margin-bottom: 40px;
}

.animated-heading {
  font-size: 3rem; /* Larger font size */
  margin-bottom: 40px; /* More spacing below */
  position: relative;
  display: inline-block;
  font-weight: bold;
  color:white; 
}

.animated-heading::after {
  content: '';
  display: block;
  width: 80px;
  height: 5px;
  background: #e63946; /* Red color for the underline */
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.gallery-container {
  position: relative;
}

.gallery-scroll {
  overflow-x: auto;
  padding-bottom: 20px;
}

::-webkit-scrollbar {
  height: 2px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #dc3545 !important;
  border-radius: 5px;
}

.gallery-grid {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 0;
}

.gallery-item {
  min-width: 200px;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #fff;
  cursor: pointer;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.center-image {
  transform: scale(1.1) !important;
}
