@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.landing-page {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  color: #fff;
  background: #1a202c;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.full-width-background {
  width: 100%;
  background-color: #1a202c;
  padding: 0;
  margin: 0;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
  flex-direction: column;
  text-align: center;
}

.text-content {
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(20%);
  transition: all 1s ease-in-out;
}

.text-content.slide-in-left {
  opacity: 1;
  transform: translateY(0);
}

.welcome-message {
  font-size: 4.5em;
  margin-bottom: 10px;
  color: #dbdfe5;
  font-weight: bold;
}

.highlight {
  color: #6372ff;
}

.subtitle {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-group button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group .primary-btn {
  background: #6372ff;
  color: #fff;
}

.button-group .primary-btn:hover {
  background-color: rgb(34, 99, 230);
}

.image-content {
  opacity: 0;
  transform: translateY(20%);
  transition: all 1s ease-in-out;
}

.image-content.slide-in-right {
  opacity: 1;
  transform: translateY(0);
}

.main-image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.feature-boxes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.feature-box {
  background: #fff;
  color: #1a202c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.large-box {
  max-width: 600px;
}

.feature-box h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.feature-box p {
  font-size: 1em;
  margin-bottom: 10px;
}

.box-image {
  width: 100%;
  border-radius: 5px;
}

.secondary-btn {
  background-color: #4a5568;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.secondary-btn:hover {
  background-color: #2d3748;
}

.sloped-bottom {
  position: relative;
  height: 50px;
  background-color: #1a202c!important;
}

.sloped-bottom::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-left: 100vw solid transparent;
  border-bottom: 50px solid white;
}

@media (max-width: 768px) {
  .main-content {
    padding: 40px 20px;
  }

  .welcome-message {
    font-size: 2em;
  }

  .subtitle {
    font-size: 1em;
  }

  .main-image {
    max-width: 300px;
  }

  .feature-boxes {
    flex-direction: column;
    align-items: center;
  }

  .feature-box,
  .large-box {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
