.mv-section {
  padding: 60px 20px;
  background: #1a202c; /* Set the background color to black */
  color: #fff; /* Set the text color to white */
  position: relative;
  overflow: hidden;
}

.mv-notification-container {
  position: relative;
  margin-bottom: 30px;
}


.mv-register-btn:hover {
  background-color: #0bc6e3;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.mv-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.mv-mission-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.mv-text-container {
  color: white;
}

.mv-text-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.mv-text-container p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.8;
}

.highlight-text {
  color:#6372ff ;
}

.mv-read-more-btn {
  padding: 10px 25px;
  font-size: 1.1rem;
  margin-top: 20px;
  border-radius: 30px;
  background-color: #6372ff ;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.mv-read-more-btn:hover {
  background-color: rgb(53, 44, 222);
}


.mv-stat-item {
  color: white;
  margin: 10px 0;
}

.mv-stat-item h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.mv-stat-item p {
  font-size: 1.2rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .mv-text-container h2 {
    font-size: 2rem;
  }

  .mv-text-container p {
    font-size: 1rem;
  }

  .mv-statistics {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .mv-stat-item h3 {
    font-size: 1.5rem;
  }

  .mv-stat-item p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .mv-section {
    padding: 30px 10px;
  }

  .mv-text-container h2 {
    font-size: 2rem;
  }

  .mv-text-container p {
    font-size: 1.1rem;
  }

  .mv-read-more-btn {
    padding: 8px 20px;
    font-size: 1rem;
  }

  .mv-stat-item h3 {
    font-size: 1.9rem;
  }

  .mv-stat-item p {
    font-size: 0.9rem;
  }
}


.notification-hilight{
  font-size: larger;
  font-weight: bolder;
}