.scroll-progress-bar {
    position: fixed;
    bottom: 20px;
    right: 35px;
    z-index: 1000; /* Ensure it's above other content */
    width: 80px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
  }
  
  /* Optional: Customize the progress bar colors */
  .CircularProgressbar-path {
    stroke: #0f0201 !important;  /* Progress bar color */
  }
  
  .CircularProgressbar-trail {
    stroke: #f30d0d !important; /* Background color */
  }
  
  .CircularProgressbar-text {
    fill:white!important; /* Text color */
  }
  