/* src/components/UpcomingEvents.css */
.upcoming-events-section {
    background: #222; 
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: bold;
  }
  
  .event-card {
    overflow: hidden;
    border: none;
    border-radius: 15px;
    background: #2e2a3b;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .event-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .event-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .event-card:hover .event-image {
    transform: scale(1.1);
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-subtitle {
    font-size: 1rem;
    color: #110101;
  }
  
  .card-text {
    font-size: 1rem;
    color: #0f0101;
  }
  
  .register-button {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 30px;
    background: #ff4757;
    color: #fff;
    border: none;
    transition: background 0.3s;
  }
  
  .register-button:hover {
    background: #e84118;
  }
  