@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.upcoming-event-heading {
  font-size: 3.5rem;
  margin: 20px 0;
  color: #ff6341 ;
  font-weight: bold;
}


.event-image-container {
  margin-bottom: 20px;
  text-align: center;
}

.event-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.event-info {
  text-align: center;
}

.event-title {
  font-size: 2rem;
  color: #1a202c;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-description {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.event-date-upcoming {
  font-size: 1.5rem;
  color: rgb(240, 21, 21);
  margin-bottom: 20px;
}

.mv-statistics {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  flex-wrap: nowrap;
}

.stat-box {
  background: rgba(52, 93, 208, 0.2);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  margin: 5px;
  min-width: 70px;
}

.stat-box h3 {
  font-size: 1.8rem;
  margin: 5px;
  color: #ff6341;
  font-weight: bold;
}

.stat-box p {
  font-size: 1rem;
  color: #ff6341;
}

.mv-register-btn {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #ff6341;
  border: none;
  transition: background-color 0.3s ease;
}

.mv-register-btn:hover {
  background-color: #ed4924;
}

@media (max-width: 768px) {
  .mv-notification {
    padding: 20px;
  }

  .upcoming-event-heading {
    font-size: 2rem;
  }

  .event-title {
    font-size: 1.8rem;
  }

  .event-date {
    font-size: 1.2rem;
  }

  .mv-statistics {
    flex-wrap: nowrap;
  }

  .stat-box {
    padding: 10px;
    min-width: 50px;
  }

  .stat-box h3 {
    font-size: 1.5rem;
  }

  .stat-box p {
    font-size: 0.8rem;
  }

  .mv-register-btn {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

@media (max-width: 576px) {
  .mv-notification {
    padding: 10px;
  }

  .upcoming-event-heading {
    font-size: 1.8rem;
  }

  .event-title {
    font-size: 1.5rem;
  }

  .event-date {
    font-size: 1rem;
  }

  .mv-statistics {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .stat-box {
    padding: 8px;
    min-width: 40px;
  }

  .stat-box h3 {
    font-size: 1.2rem;
  }

  .stat-box p {
    font-size: 0.7rem;
  }

  .mv-register-btn {
    font-size: 0.9rem;
    padding: 6px 12px;
  }
}
.event-image-container {
  flex: 1;
  overflow: hidden;
  max-width: 500px;
}
