@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

/* Apply base styles for the entire body */
body {
  
  line-height: 1.4;
  color: inherit; /* Use the inherited color from the project */
  margin: 0; /* Ensure no default margin */
  padding: 0; /* Ensure no default padding */
  box-sizing: border-box; /* Ensure consistent box-sizing model */
}

/* Apply styles to all heading elements */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  margin: 0 0 15px 0;
  color: inherit;
}
